section {
  margin: 10%;
  margin-top: 2%;
}
.about-subtitle {
	font-size: 6vw;
	font-family: "Arial Black", Gadget, sans-serif;

}
.my-col {
	padding:25px;
}
h3 {
	font-size: 3vw;
	font-family: "Arial Black", Gadget, sans-serif;
}
.sample-photo {
	width: 500px;
	border: 2px solid black;
}

.collab-photo {
    width: 250px;
    height: 250px;
	border-radius: 50%;
}
.collab-content {
	width: 33.33333%;
	text-align: center;
	padding: 5%;
}
