{% extends "layout.html" %}
{% block content %}
<section style="padding-right: 10%;">
		<h1><center>Frequently Asked Questions about Creating Ideas on IdeaHub</h1>
		<br><br>
		
		<h3>What is stasis theory?</h3>
		<p>Stasis theory offers a set of questions that creates both an engaging and well designed abstract
			about your topic. For information about stasis theory, read <a href="https://owl.purdue.edu/owl/general_writing/the_writing_process/stasis_theory/index.html">this article</a> from the Purdue Owl.
		</p>
		
		<h3>Why use an elevator pitch?</h3>
		<p>An elevator pitch is a short, concise description of a topic that is both engaging to read and 
			clearly explains your idea to your listener. Ensuring that your project pitch is engaging allows for 
			more interest in your project and provides you with more interested applicants.
		</p>
		
		<h3>What is a Conjecture?</h3>
		<p>Your conjecture should be the background to your summary. In your conjecture you should describe the problem 
			you are addressing and then, briefly, state that your idea as a solution to this problem. Your solution to the	
			problem should be a brief abstract in this section. 
		</p>
		
		<h3>What is expected in the quality section of write project</h3>
		<p>This section should be wear you describe your solution to the problem. It is important that you flesh out your description of the 
			solution and provide specifics to solve your problem. The more specific the better in this section.</p>
		
		<h3>How much information should I provide for each section?</h3>
		<p>The more information the better! The goal of an elevator pitch is to provide as much information as possible while continuing to be engaging.
			As long as you are not providing useless information (boring specifics or topics that don't apply to your idea) or repeating
			anything else that you have already said then you are fine.</p>
			
		<h3>What kind of images should I provide</h3>
		<p>Images are important for keeping the pitch engaging, however, they should only be used if they relate to your topics. Quality is much more important 
			than quantity and unecessary pictures will only hurt your project pitch.
</section>
<!--For more on using stasis theory in to assess problem and issues, see: https://owl.purdue.edu/owl/general_writing/the_writing_process/stasis_theory/index.html-->

<!--Copyleft. S.J. Quigley, University of Pittsburgh-->

{% endblock %}